extends layout

block content
  if error 
    h2.text-danger.text-center.bg-warning #{error}

  

block content2 
  .container
    .row.justify-content-center.align-items-center.vh-100
      .col-md-4
        form(action="/login", method="POST").border.border-secondary.m-5.p-5.rounded.bg-dark.text-light
          label(for="userName").p-1 User name: 
          input(type="text" name="userName").p-2.mb-2
         
          label(for="password").p-1 Password:
           .input-group.mb-2
              input#password(type="password" name="password").form-control.p-2
              span.input-group-text
                i.fas.fa-eye#togglePassword
          button(type="submit").btn-primary.p-2.rounded.m-2 LOGIN
          

       